<mat-form-field>
  <mat-label>Choose year</mat-label>
  <mat-select [formControl]="selected" [errorStateMatcher]="matcher" (selectionChange)="onYearSelected($event)">

    <mat-option *ngFor="let year of years" [value]="year">
      {{year}}
    </mat-option>


  </mat-select>

  <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
</mat-form-field>


<app-chart [legendOptions]="options.legend" [xName]="'Daty'" [yName]="'Globalny przychód'" [xAxis]="options.xAxis"
  [yAxis]="options.yAxis" [series]="options.series" [tooltip]="options.tooltip" *ngIf="isReady"></app-chart>